* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.nav {
  position: fixed;
  width: 100%;
  height: 90px;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}

.logo__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  width: 100px;
  padding: 20px 0;
  margin: 0px 20px;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.nav__item:hover {
  background: rgb(0, 97, 0);
}

.nav__link {
  color: #fff;
  text-decoration: none;
}

.item__submenu {
  width: 180px;
  position: absolute;
  top: 60px;
  background-color: green;
  padding: 10px 20px 0 20px;
  list-style: none;
  transition: 0.1s all linear;
  display: none;
}

.nav__item:hover .item__submenu {
  display: block;
}

.submenu__item {
  margin: 30px 0;
  text-align: center;
}

.submenu__link {
  color: #fff;
  text-decoration: none;
}

.image-container {
  width: 100%;
  height: 100%;
  background-image: url("https://picsum.photos/1000/1000");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
}
