* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  min-height: 100vh;
  background: rgba(255, 192, 203, 0.7);
}

table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  background: #fafafa;
  text-align: center;
  border-spacing: 0;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

th,
td {
  padding: 12px 15px;
}

th {
  background: #ba68c8;
  color: #fafafa;
  text-transform: uppercase;
}

tr:nth-child(odd) {
  background: #eeeeee;
}
